<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Team Name:{{teamname}}</h1> 
<h1>cap:{{cap}}</h1>
<h2>playerlist:{{playerlist}}</h2>
     {% if playerlist <= 5 %}
           <h1>Team player less</h1>
           {% else %}
           <h1>Team player high</h1>
     {% endif %}  
     
     {%  for i in playerlist%}
     <h4>{{i}}</h4>
     {% endfor %}
    </body>
</html